/* font-family: 'Akronim', cursive;
font-family: 'Bellota', cursive;
font-family: 'Bigelow Rules', cursive;
font-family: 'MedievalSharp', cursive;
font-family: 'Risque', cursive; */

/* https://mlodytechnik.pl/technika/28383-kto-jest-swiadomy-my-czy-czasoprzestrzen */
